body {
	margin:0px;
	padding:0px;
	color:#717174;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:13px;
	line-height:1.5em; 
	background-color: #121213;
}

a, a:link, a:visited {
	color:#c0c0c2;
}

a:hover {
	color: #00FFFF;
	text-decoration:none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1, h2, h3, h4, h5 { font-weight: normal; }

h1 { font-size: 40px; color: #fff; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 32px; color: #fff; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; color: #fff; margin: 0 0 20px 0; padding: 0; }
h4 { font-size: 18px; color: #fff; margin: 0 0 10px 0; padding: 0; }
h5 { font-size: 16px; color: #fff; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }


.float_l {
	float: left;
}

.float_r {
	float: right;
}

.image_wrapper {
	padding: 8px;
	border: 1px solid #333;
	background: #000;
	margin-bottom: 10px;
}
.fl_img {
	float: left;
	margin: 3px 30px 15px 0;
}
.fr_img {
	float: right;
	margin: 3px 0 15px 15px;
}

blockquote { font-style: italic; }
cite { font-weight: bold; }
cite span { color: #fff; }

.button a {
	clear: both;
	display: block;
	width: 109px;
	height: 30px;
	padding: 4px 0 0 0;
	background:	url(../images/xiaotubiao/a5.png) no-repeat;
	
	color: #ccc;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	color: #fff;
	background: url(../images/xiaotubiao/a4.png) no-repeat;
}
.button1 a {
	clear: both;
	display: block;
	width: 109px;
	height: 30px;
	padding: 4px 0 0 0;
	background:	url(../images/xiaotubiao/a6.png) no-repeat;
	
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}

.button1 a:hover {
	color: #fff;
	background-color: #663333;
	background-repeat: no-repeat;
}

ul {
	margin: 20px;
	padding: 0;
	list-style-image:  url(../images/list_icon.png);
}

ul li {
	margin: 0 0 15px 0;
	padding: 0 0;
}

/* menu */

#dh {
	width: 100%;
	height: 50px;
    background: url(../images/xiaotubiao/m3.jpg) repeat-x;
}

#nav {
	width: 920px;
	height: 50px;
	margin: 0 auto;
	padding: 0 30px;
	background: url(../images/xiaotubiao/m1.jpg) no-repeat;
}

#nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#nav ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#nav ul li a{
	float: left;
	display: block;
	width: 124px;
	height: 38px;
	padding: 12px 0 0 0;
	margin-right: 1px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #d8d3bd;	
	font-weight: normal;
	outline: none;
}

#nav li a:hover, #nav li .current{
	color: #fff;
	background: url(../images/xiaotubiao/m2.png) no-repeat;
}


/* end of menu */

/* header */

#zt {
	width: 100%;
	height: 250px;
    background: url(../images/h1.jpg) repeat-x;
	border-bottom: 1px solid #000;
}
/*插入头部标签*/
#header {
	overflow: hidden;
	width: 920px;
	height: 210px;
	padding: 20px 30px;
	margin: 0 auto;
	background: url(../images/header.jpg) no-repeat;
}
/*插入LOGO*/
#header  #logo {
	float: left;
	padding-top: 40px;
	padding-right: 4px;
	padding-bottom: 0;
	padding-left: 10px;
}


/*插入LOGO右侧大图片*/
#slider {
	float: right;
	width: 430px;
	height: 200px;
	padding: 10px;
	background: url(../images/xiaotubiao/a7.png) no-repeat;
	
}

/*插入首页三列文字效果*/

#top1 {
	clear: both;
	width: 100%;
	height: 160px;
	background: url(../images/xiaotubiao/top.jpg) repeat-x; /*设置背景*/
	border-bottom: 1px solid #000;/*设置边框*/
}

#top_row {
	width: 930px;/*设置宽度*/
	margin: 0 auto;
	padding: 0 25px;
}

#top_row .top_row_box {
	overflow: hidden;
	float: left;
	width: 250px;
	height: 110px;
	padding: 20px 45px 20px 15px;
	background: url(../images/xiaotubiao/t1.png) right center no-repeat;
}

#top_row .last {
	background: none;
}

#top_row p {
	color: #777270;
}



#content_wrapper {
	clear: both;
	width: 100%;
	border-bottom: 1px solid #282829;	
}

/*首页底部左图右字*/
#content {
	width: 930px;/*设置宽度*/
	padding: 30px 30px;
	margin: 0 auto;

}
/*分成两栏，每栏宽度430像素*/
.two_column {
	width: 430px;
}

.services_section {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
	background: url(images/templatemo_divider.jpg) bottom repeat-x;	
}

.services_section h4 {
	margin-bottom: 20px;
}

.services_section .left {
	float: left; 
	width: 150px;
	margin-right: 30px;
}

.services_section .middle {
	float: left; 
	width: 350px;
}

.services_section .right {
	float: right; 
	width: 350px;
}

.services_section .left img {
	border:1px solid #CCC;
	padding: 5px;
}

/* post */

.post_box {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background: url(images/hor_divider.jpg) bottom repeat-x;	
}

.post_box .post_content {
	clear: both;
	margin: 10px 0;
}
/*设置游戏系统左侧宽度对齐方式*/
.post_content .left {
	float: left; 
	width: 300px;
}
/*设置游戏系统左侧图片宽度对齐方式边框效果*/
.post_content .left img {
	width: 280px;
	height: 160px;
	border:1px solid #000;
	padding: 5px;
	background: #1a1b1c;
}
/*设置游戏系统右侧宽度对齐方式*/
.post_content .right {
	float: right; 
	width: 600px;
}

.post_content h2 {
	margin-bottom: 5px;
}

.post_box p {
	padding-bottom: 5px;
	margin: 20px 0 10px 0;
}

.post_section .post_info{
	font-style: italic;
}

.post_box .comment_tab {
	padding: 10px 0;
	margin: 40px 0 20px 0;
	border-bottom: 1px dashed #666;
	font-size: 20px;
	font-weight: bold;
}


/* end of post */

/* 背景简介设置三行三列的CSS */
#gallery {
	width: 930px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
	}
#gallery ul { list-style: none; margin: 0; padding: 0; }
#gallery ul li {
		float: left;
		display: inline; 
		padding: 0;
		margin: 0;
		width: 245px;
		margin: 0 60px 60px 0;
	}
	
#gallery ul li h5 {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px dotted #CCC;
	}
	 
#gallery ul img {
		width: 245px;
		height: 130px;
		border: none;
		margin-bottom: 10px;
	}
/*插入表单*/
#contact_form {
	float: left;
	padding: 0;
}
/*插入表单标签的边距*/
#contact_form form {
	margin: 0px;
	padding: 0px;
}
/*插入表单文本框标签设置*/

#contact_form form .input_field {
	height: 18px;
	width: 260px;
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
	padding: 4px;
}
/*插入表单标签设置*/
#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;	
}
/*插入表单文本域设置*/
#contact_form form textarea {
	width: 350px;
	height: 150px;
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
	padding: 4px;
}
/*插入表提交按扭设置*/
#contact_form form .submit_btn {
	margin-right: 80px;
	padding: 5px 10px;
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
}



/*插入底部版权信息块*/

#footer {
	clear: both;
	width: 100%;
	background: #090909;
	border-top: 1px solid #000;	
	border-bottom: 1px solid #000;
}

#foot {
	width: 930px;
	padding: 45px 30px;
	margin: 0 auto;
	color: #d8d3bd;
}

.footer_box {
	float: left;
	width: 280px;
	padding: 0 30px 0 0;
}

.footer_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_menu li {
	margin: 0;
	padding: 5px 0;
}

.footer_menu li a {
	color: #d8d3bd;
}

.footer_menu li a:hover {
	color: #fff;
}

#foot img{
	padding: 4px;
	background: #000;
	border: 1px solid #34322f;
	margin-bottom: 10px;
}

/* end of footer */

/* 版权信息 */

#copyright_wrapper {
	width: 100%;
	background: #000000;
	border-top: 1px solid #262626;
}
/* 版权信息模块 */

#copyright {
	width: 960px;
	margin: 0 auto;
	padding: 15px 20px;
	text-align: center;
	color: #6e6965;
}

#copyright a {
	color: #6e6965;
}
/* end of copyright */
.wzsy1 {
	font-size: 12px;
	line-height: 24px;
}
.wzbj {
	font-size: 13px;
	line-height: 30px;
	text-align: justify;
	text-indent: 2em;
}
.bj01 {
	height: auto;
	width: 100%;
	margin-bottom: 30px;
}
.imgyxlb {
	height: 180px;
	width: 410px;
}
/*插入首页宣传大图片*/
.banner {
	background-image: url(../images/banner.jpg);/*设置背景*/
	height: 300px;/*设置高度*/
	margin-top: 10px;/*上边距*/
	margin-bottom: 30px;/*下边距*/
}
.cs_wrapper img {
	height: 150px;
	width: 100%;
}
